/target/debug
/target/release/.fingerprint
/target/release/build
/target/release/deps
/target/release/examples
/target/release/incremental
/target/release/.cargo-lock
/target/release/redlib.d
/target/*.json
/target/*.TAG
.env
# Idea Files
.idea/
